**Question 1:**

Do the recursive implementation of following in python and print the result after each recursive call.

a. Factorial Function

In [ ]:
def factorial(n):
  if (n==0):
    return 1
  else:
    return n*factorial(n-1)

n=int(input("Enter a number "))
print("Factorial is ",factorial(n))

Enter a number3
Factorial is  6

b. Power function

In [ ]:
def power(n,p):
  if (p==0):
    return 1
  else:
    return n*power(n,p-1)


n=int(input("Enter a number "))
p=int(input("Enter its power "))
print("power is ",power(n,p))

Enter a number 2
Enter its power 5
power is  32

c. arithmetic sequences with first term a1=a and common difference d

In [ ]:
def arithmetic(n,a,d):
  if (n==1):
    return a
  else:
    return d+arithmetic(n-1,a,d)

n=int(input("Enter n "))
a=int(input("Enter a "))
d=int(input("Enter d "))
print("arithmetic sequence is ",arithmetic(n,a,d))

Enter n 5
Enter a 3
Enter d 2
arithmetic sequence is  11

d. Fibonacci Series

In [ ]:
def fibonacci(n):
  if (n==1):
    return 1
  elif(n==0):
    return 0
  else:
    return (fibonacci(n-1)+fibonacci(n-2))

n=int(input("Enter n "))
print(fibonacci(n))

Enter n 4
3

e. Towers of Hanoi

In [ ]:
def Towers_Of_Hanoi(numdisks, frm_disc, to_disc, aux_disc):
  # When the number of discs is one, we can define the base case. Simply move the
  # single disc from source to target and return in this scenario.
    if numdisks == 1:
        print("Move disk [1] from rod [",
              frm_disc, "] to rod {", to_disc, '}')
        return
    # Now, use the target as the auxiliary to
    # shift the remaining n-1 discs from source to auxiliary.
    Towers_Of_Hanoi(numdisks-1, frm_disc, aux_disc, to_disc)
    # The remaining 1 disc then moves from source to target.
    # Use the source as the auxiliary to move the n-1 discs on the auxiliary to the target.
    print("Move disk ["+str(numdisks) + "] from rod [",
          str(frm_disc)+" ] to rod {", to_disc, '}')
    Towers_Of_Hanoi(numdisks-1, aux_disc, to_disc, frm_disc)
# Give the number of discs as user input using
# the int(input()) function which converts the string to an integer.
# Store it in a variable.
numdisks = int(input('Enter some random number of disks = '))
# passing the given number of disks as argument to the towers of hanoi recursive function .
Towers_Of_Hanoi(numdisks, 'A', 'B', 'C')

Enter some random number of disks = 3
Move disk [1] from rod [ A ] to rod { B }
Move disk [2] from rod [ A ] to rod { C }
Move disk [1] from rod [ B ] to rod { C }
Move disk [3] from rod [ A ] to rod { B }
Move disk [1] from rod [ C ] to rod { A }
Move disk [2] from rod [ C ] to rod { B }
Move disk [1] from rod [ A ] to rod { B }

**Question 2:**

Write a python program to count the how many numbers between 1 and 1000, including both, are
divisible by 3 or 4? List those numbers.

In [ ]:
def div(n,c):
  if(n<=956):
    if((n%4==0)or(n%3==0)):
      c=c+1
      print(n,end=" ")
    div(n+1,c)
  else:
    print()
    print(c)

n=1
c=0
div(n,c)

3 4 6 8 9 12 15 16 18 20 21 24 27 28 30 32 33 36 39 40 42 44 45 48 51 52 54 56 57 60 63 64 66 68 69 72 75 76 78 80 81 84 87 88 90 92 93 96 99 100 102 104 105 108 111 112 114 116 117 120 123 124 126 128 129 132 135 136 138 140 141 144 147 148 150 152 153 156 159 160 162 164 165 168 171 172 174 176 177 180 183 184 186 188 189 192 195 196 198 200 201 204 207 208 210 212 213 216 219 220 222 224 225 228 231 232 234 236 237 240 243 244 246 248 249 252 255 256 258 260 261 264 267 268 270 272 273 276 279 280 282 284 285 288 291 292 294 296 297 300 303 304 306 308 309 312 315 316 318 320 321 324 327 328 330 332 333 336 339 340 342 344 345 348 351 352 354 356 357 360 363 364 366 368 369 372 375 376 378 380 381 384 387 388 390 392 393 396 399 400 402 404 405 408 411 412 414 416 417 420 423 424 426 428 429 432 435 436 438 440 441 444 447 448 450 452 453 456 459 460 462 464 465 468 471 472 474 476 477 480 483 484 486 488 489 492 495 496 498 500 501 504 507 508 510 512 513 516 519 520 522 524 525 528 531 532 534 536 537 540 543 544 546 548 549 552 555 556 558 560 561 564 567 568 570 572 573 576 579 580 582 584 585 588 591 592 594 596 597 600 603 604 606 608 609 612 615 616 618 620 621 624 627 628 630 632 633 636 639 640 642 644 645 648 651 652 654 656 657 660 663 664 666 668 669 672 675 676 678 680 681 684 687 688 690 692 693 696 699 700 702 704 705 708 711 712 714 716 717 720 723 724 726 728 729 732 735 736 738 740 741 744 747 748 750 752 753 756 759 760 762 764 765 768 771 772 774 776 777 780 783 784 786 788 789 792 795 796 798 800 801 804 807 808 810 812 813 816 819 820 822 824 825 828 831 832 834 836 837 840 843 844 846 848 849 852 855 856 858 860 861 864 867 868 870 872 873 876 879 880 882 884 885 888 891 892 894 896 897 900 903 904 906 908 909 912 915 916 918 920 921 924 927 928 930 932 933 936 939 940 942 944 945 948 951 952 954 956
478

In [ ]:
def div():
  c=0
  for i in range(1,1000):
    if((i%4==0)or(i%3==0)):
      c=c+1
      print(i,end=" ")
  print()
  print(c)

div()

3 4 6 8 9 12 15 16 18 20 21 24 27 28 30 32 33 36 39 40 42 44 45 48 51 52 54 56 57 60 63 64 66 68 69 72 75 76 78 80 81 84 87 88 90 92 93 96 99 100 102 104 105 108 111 112 114 116 117 120 123 124 126 128 129 132 135 136 138 140 141 144 147 148 150 152 153 156 159 160 162 164 165 168 171 172 174 176 177 180 183 184 186 188 189 192 195 196 198 200 201 204 207 208 210 212 213 216 219 220 222 224 225 228 231 232 234 236 237 240 243 244 246 248 249 252 255 256 258 260 261 264 267 268 270 272 273 276 279 280 282 284 285 288 291 292 294 296 297 300 303 304 306 308 309 312 315 316 318 320 321 324 327 328 330 332 333 336 339 340 342 344 345 348 351 352 354 356 357 360 363 364 366 368 369 372 375 376 378 380 381 384 387 388 390 392 393 396 399 400 402 404 405 408 411 412 414 416 417 420 423 424 426 428 429 432 435 436 438 440 441 444 447 448 450 452 453 456 459 460 462 464 465 468 471 472 474 476 477 480 483 484 486 488 489 492 495 496 498 500 501 504 507 508 510 512 513 516 519 520 522 524 525 528 531 532 534 536 537 540 543 544 546 548 549 552 555 556 558 560 561 564 567 568 570 572 573 576 579 580 582 584 585 588 591 592 594 596 597 600 603 604 606 608 609 612 615 616 618 620 621 624 627 628 630 632 633 636 639 640 642 644 645 648 651 652 654 656 657 660 663 664 666 668 669 672 675 676 678 680 681 684 687 688 690 692 693 696 699 700 702 704 705 708 711 712 714 716 717 720 723 724 726 728 729 732 735 736 738 740 741 744 747 748 750 752 753 756 759 760 762 764 765 768 771 772 774 776 777 780 783 784 786 788 789 792 795 796 798 800 801 804 807 808 810 812 813 816 819 820 822 824 825 828 831 832 834 836 837 840 843 844 846 848 849 852 855 856 858 860 861 864 867 868 870 872 873 876 879 880 882 884 885 888 891 892 894 896 897 900 903 904 906 908 909 912 915 916 918 920 921 924 927 928 930 932 933 936 939 940 942 944 945 948 951 952 954 956 957 960 963 964 966 968 969 972 975 976 978 980 981 984 987 988 990 992 993 996 999
499

**Question 3:**

Given N prime numbers and a number M, count how many numbers from 1 to M are divisible by any
of the N given prime numbers. (Apply Principle of inclusion exclusion)

In [ ]:
def prime(j):
  c=1
  for i in range(2,j-1):
    if(j%i==0):
      c=0
      break
  return c

def divisibility(m,a):
  c=0
  for i in range(1,m):
    for j in a:
      if (prime(j)==1):
        if(i%j==0):
          c=c+1
          break
  return c


n=int(input("Enter number of prime numbers "))
m=int(input("Enter limit "))
a=list()
for i in range(n):
  a.append(int(input("Enter the prime numbers ")))
c=divisibility(m,a)
print(c)

Enter number of prime numbers 2
Enter limit 100
Enter the prime numbers 3
Enter the prime numbers 4
33