**Practice 1:** Permutations using library function

In [ ]:
from itertools import permutations
perm=permutations([1,2,3])
for l in list(perm):
  print(l)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**Practice 2:** Print permutation of given length

In [ ]:
perm=permutations([1,2,3],2)# r=2
for i in list(perm):
  print(i)

(1, 2)
(1, 3)
(2, 1)
(2, 3)
(3, 1)
(3, 2)

**Practice 3:** Print all combinations

In [ ]:
from itertools import combinations
comb=combinations([1,2,3],2)
for i in list(comb):
  print(i)
comb=combinations([1,2,3],2)
for i in list(comb):
  print(i)

(1, 2)
(1, 3)
(2, 3)
(1, 2)
(1, 3)
(2, 3)

**Question:** Generate Pascal's Triangle.

In [ ]:
a=int(input("Enter number of rows "))
for i in range(a):
  for j in range(i+1):
    print("(",i,j,")",end=" ")
  print()

Enter number of rows 3
( 0 0 )
( 1 0 ) ( 1 1 )
( 2 0 ) ( 2 1 ) ( 2 2 )

In [ ]:
a=int(input("Enter number of rows "))
for i in range(a):
  c=1
  for j in range(a-i+1):
    print(end=" ")
  for j in range(i+1):
    print(c ,end=" ")
    c=c*(i-j)//(j+1)
  print()

Enter number of rows 4
     1
    1 1
   1 2 1
  1 3 3 1

In [ ]:
from math import factorial
a=int(input("Enter number of rows "))
for i in range(a):
  for j in range(a-i+1):
    print(end=" ")
  for j in range(i+1):
    print(factorial(i) // (factorial(j)*factorial(i-j)),end=" ")
  print()

Enter number of rows 3
    1
   1 1
  1 2 1

**Question 1**: Write a program to find factorial of a number

In [ ]:
def factorial(a):
  c=1
  for i in range(1,a+1):
    c=c*i
  return c

a=int(input("Enter a number "))
c=factorial(a)
print(a,"! = ",c)

Enter a number 3
3 ! =  6

**Question 2:** Write a python program to find the number of possible combinations that can be obtained by taking
a sample of items.

In [ ]:
from itertools import combinations
def comb(l,r):
  c=list(combinations(l,r))
  return len(c)

n=int(input("Enter number of items"))
l=[]
for i in range(n):
  c=int(input("Enter value"))
  l.append(c)
r=int(input("Enter value of r"))
print("{}C{}".format(r,len(l)),"=",comb(l,r))

Enter number of items3
Enter value3
Enter value4
Enter value5
Enter value of r3
3C3 = 1

**Question 3**: Write a python program to generate binomial series : Given a, b and n, print the series

![Screenshot 2023-01-10 123623.png]()

In [ ]:
def factorial(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f


def series(A, X, n):
    nFact = factorial(n)
    for i in range(0, n + 1):
        niFact = factorial(n - i)
        iFact = factorial(i)
        aPow = pow(A, n - i)
        xPow = pow(X, i)
        print (int((nFact * aPow * xPow) /
                   (niFact * iFact)), end = " ")

A = 3; X = 4; n = 5
series(A, X, n)

243 1620 4320 5760 3840 1024

**Question 4:**
Write a python program to generate pascals triangle with n rows

In [ ]:
a=int(input("Enter number of rows "))
for j in range(a+2):
    print(end=" ")
print('1')
for i in range(a-1):
  c=1
  for j in range(a-i+1):
    print(end=" ")
  print('1' ,end=" ")
  for j in range(i+1):
    print(c ,end=" ")
    c=c*(i-j)//(j+1)
  print()

Enter number of rows 6
        1
       1 1
      1 1 1
     1 1 2 1
    1 1 3 3 1
   1 1 4 6 4 1

**Question 5:**

Find the next lexicographic permutation of the given list of numbers formed by a given array using
the algorithm discussed in class.

In [ ]:
def findNext(number,n):
	for i in range(n-1,0,-1):
		if number[i] > number[i-1]:
			break
	if i == 1 and number[i] <= number[i-1]:
		print ("Next number not possible")
		return

	x = number[i-1]
	smallest = i
	for j in range(i+1,n):
		if number[j] > x and number[j] < number[smallest]:
			smallest = j
	number[smallest],number[i-1] = number[i-1], number[smallest]
	x = 0
	for j in range(i):
		x = x * 10 + number[j]

	number = sorted(number[i:])
	for j in range(n-i):
		x = x * 10 + number[j]
	print ("Next number with set of digits is",x)
digits = "534976"
number = list(map(int ,digits))
findNext(number, len(digits))

Next number with set of digits is 536479

**Question 6:**
Find the next lexicographic combination of the given list of numbers formed by a given array using
the algorithm discussed in class.

In [ ]:
def lexNumbers(n):

    s = []
    for i in range(1, n + 1):
        s.append(str(i))
    s.sort()
    ans = []
    for i in range(n):
        ans.append(int(s[i]))
    for i in range(n):
        print(ans[i], end = ' ')
if __name__ == "__main__":

    n = 15
    lexNumbers(n)

1 10 11 12 13 14 15 2 3 4 5 6 7 8 9

**Question 7:**

A “Stirling number of the second kind” — S(n, k) — is the number of ways to partition n items into
k subsets. For example, the number of ways to group n=4 items into k=2 subsets is 7. Suppose the 4 items are a, b, c, d. Then S(4,2) = 7. The seven partitions are: (a | bcd), (b | acd), (c | abd),
(d | abc), (ab |cd), (ac | bd), and (ad | bc).
Write a python program to generate s(n, k) using the following:
s(r, 0) = 0, s(r, r) = 1. s(r, 1) = (r - 1)!,
s(r, r - 1) = nCr(r, 2)
s(r, n) = s(r - 1, n - 1) + (r - 1) * s(r - 1, n)

In [ ]:
def my_stirling_second(n, k):
  sum = 0
  for j in range(0, k+1):
    a = my_power(-1, k-j)
    b = my_choose(k, j)
    c = my_power(j, n)
    sum += a * b * c

  return sum // my_factorial(k)

def my_factorial(n):
  ans = 1
  for i in range(1,n+1):
    ans = i
  return ans

def my_power(n, p):
  # n^p
  ans = 1
  for i in range(p):
    ans= n
  return ans

def my_choose(n, k):
  if n == k: return 1
  if k < n-k:
    delta = n - k
    i_max = k
  else:
    delta = k
    i_max = n - k

  ans = delta + 1
  for i in range(2, i_max+1):
    ans = (ans * (delta + i)) // i
  return ans


def main():
  print("\nBegin Stirling numbers second kind demo ")

  nf = my_factorial(10)
  print("\nmy_factorial(10) = ")
  print("{:,}".format(nf))

  pwr = my_power(5, 3)
  print("\nmy_power(5,3) = ")
  print("{:,}".format(pwr))

  c = my_choose(10, 3)
  print("\nmy_choose(10,3) = ")
  print("{:,}".format(c))

  sn = my_stirling_second(100, 3)
  print("\nmy_stirling_second(100,3) = ")
  print("{:,}".format(sn))

if __name__== "__main__":
  main()

Begin Stirling numbers second kind demo

my_factorial(10) =
10

my_power(5,3) =
5

my_choose(10,3) =
120

my_stirling_second(100,3) =
-2